html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.view{
    background-image: url('/img/pexels-photo-255501.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
     background-position: center center; 
}

.mask{
    display: table;
    margin: auto;
}

.container-top{
    display: table-cell;
    vertical-align: middle;
}

.mask{
    background-color:rgba(0,0,0,0.7);
}